<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Family</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="cin"
        placeholder="cin">
        <input type="text" class="form-control" [(ngModel)]="first_name"
        placeholder="firstname">
        <input type="text" class="form-control" [(ngModel)]="last_name"
        placeholder="lastname">
        <select class="form-control" [(ngModel)]="sex">
            <option>--select a gender--</option>
            <option>male</option>
            <option>female</option>
        </select>
        <input type="date" class="form-control" [(ngModel)]="birthdate"
        placeholder="birthdate">
        <input type="text" class="form-control" [(ngModel)]="address"
        placeholder="address">
        <input type="text" class="form-control" [(ngModel)]="phone"
        placeholder="phone">
        <input type="text" class="form-control" [(ngModel)]="health_insurance"
        placeholder="health_insurance">
        <input type="text" class="form-control" [(ngModel)]="job"
        placeholder="job">
        <input type="text" class="form-control" [(ngModel)]="income"
        placeholder="income">
        <input type="text" class="form-control" [(ngModel)]="home_status"
        placeholder="home_status">
        <input type="text" class="form-control" [(ngModel)]="home_owner"
        placeholder="home_owner">
        <input type="text" class="form-control" [(ngModel)]="health_status"
        placeholder="health_status">
        <input type="text" class="form-control" [(ngModel)]="deceased_parent_name"
        placeholder="deceased_parent_name">
        <input type="text" class="form-control" [(ngModel)]="cause_of_death"
        placeholder="cause_of_death">
        <input type="text" class="form-control" [(ngModel)]="sponsor_name"
        placeholder="sponsor_name">
        <input type="text" class="form-control" [(ngModel)]="family_status"
        placeholder="family_status">
        
    </div>
</div>

<button (click)="addFamily()" *ngIf="fam.id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateFamily()" *ngIf="fam.id!=0" class="btn btn-primary">
    Update
</button>