<form class="form" [formGroup]="loginForm">
    <mat-form-field class="form-control">
        <mat-label>Your email</mat-label>
        <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Your password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <div class="form-footer">
        <button mat-button (click)="login()">login</button>
        <a routerLink="/register">create an account</a>
    </div>
   
</form>