<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" 
data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add Family
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <app-add-edit [fam]="fam" *ngIf="ActivateAddEditFamComp"></app-add-edit>
        </div>
      </div>
    </div>
  </div>



<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>cin</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>sex</th>
            <th>birth</th>
            <th>address</th>
            <th>phone</th>
            <th>insurance</th>
            <th>job</th>
            <th>income</th>
            <th>homestatus</th>
            <th>owner</th>
            <th>health_status</th>
            <th>parent_name</th>
            <th>causeofdeath</th>
            <th>sponsorname</th>
            <th>familystatus</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of FamilyList">
            <td>{{ item.id }}</td>
            <td>{{ item.cin }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.sex }}</td>
            <td>{{ item.birthdate }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.health_insurance }}</td>
            <td>{{ item.job }}</td>
            <td>{{ item.income }}</td>
            <td>{{ item.home_status }}</td>
            <td>{{ item.home_owner }}</td>
            <td>{{ item.health_status }}</td>
            <td>{{ item.deceased_parent_name }}</td>
            <td>{{ item.cause_of_death }}</td>
            <td>{{ item.sponsor_name }}</td>
            <td>{{ item.family_status }}</td>  
            
            <td>
              <button type="button" class="btn btn-light mr-1"
              data-toggle="modal" 
              data-target="#exampleModal"
              (click)="editClick(item)"
              data-backdrop="static" data-keyboard="false"
              >
                  <!--Edit-->
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
              </button>
                <button type="button" class="btn btn-light mr-1"
                (click)="deleteClick(item)">
                    <!--Delete-->
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>

</table>

